// Table of contents

//=== header
//=== content-container (extends in _form,_social)
//=== footer (extends in _social)


//============ header start =========
.header {
  position: relative;
  width: 100%;
  height: 887px;
  overflow: hidden;
  background: url("../img/header/image.jpg"), no-repeat, center;
  background-size: cover;

  .logo {
    position: absolute;
    width: 270px;
    height: 48px;
    @include toperer;

    img {
      max-width: 270px;
    }
  }
}

.header-content {
  width: 100%;
  height: 100%;
  max-height: 890px;
  margin: 0 auto;

.header-content-container {
  width: 100%;
  max-width: 770px;
  margin: 420px auto 46px 15%;
  float: left;

    h1 {
      width: 100%;
      max-width:650px;
      margin: 0;
      float: left;
      font-size: 60px;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
    }

    p {
      width: 100%;
      margin-top: 32px;
      margin-bottom: 0;
      padding-left: 1px;
      float: left;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      line-height: 30px;
    }
  }
}

//Applies to popup-2 button as well
.btn {
  position: relative;
  float: left;
  width: 340px;
  height: 60px;
  margin-top: 26px;
  background-color: #2954a5;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #3267ca;
  }

  span {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    @include centerer;
  }
}

.learn-more-link {
  position: relative;
  width: 286px;
  height: 60px;
  margin: 26px auto 0 30px;
  float: left;

  a {
    width: 260px;
    height: 21px;
    border-bottom: 1px dashed #ffffff;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    @include centererleftzero;

    &:hover {
      border-bottom: transparent;
      padding-bottom: 1px;
    }
  }
}
//============ header end ===========



//============ content-container start ===========
.content-container {
  width: 100%;
  height: auto;
  background: #a3ffbf;
}

.top-content{
  width: 100%;
  height: 703px;
  background-color: #ffffff;
}

.about-content {
  width: 100%;
  height: 703px;

  .about-content-header {
    position: relative;
    width: 100%;
    height: 185px;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 48px;
      font-weight: 300;
      line-height: 36px;
      color: #494e68;
      @include bottomer;
    }
  }
}




.top-row {

  .circle {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 25px;
    border: 1px solid #85919d;
    border-radius: 50%;
  }
}

.about-content-container {
  width: 100%;
  height: 450px;
  margin: 61px auto 0;

  .column {
    width: 100%;
    max-width: 300px;
    margin: 0 0 50px 100px;
    display: inline-block;
    float: left;

    &:first-child {
      margin-left: 15%;
    }

    &:nth-child(2){

      p {
        margin-top: 20px;
      }
    }
  }
}
.bottom-row {
  text-align: center;


  h2 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    color: #494e68;
    line-height: 19px;
  }

  p {
    margin: 14px 0 0 0;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    color: #85919d;
    line-height: 30px;
    text-align-last: center;
    -moz-text-align-last: center;
    -webkit-font-smoothing: antialiased;
  }


}
//==== CONTINUES IN FORM
.bottom-content{
  width: 100%;
  height: 651px;
  background-color: #85919d;
}
//============ content-container end ===========




//============ footer start ===========
.footer {
  width: 100%;
  height: 163px;
  background-color: #ffffff;

  .footer-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    .copyrights {
      width: 400px;
      height: 19px;
      margin: 0 auto;
      padding-top: 46px;
      font-size: 18px;
      font-weight: 400;
      color: #85919d;
      line-height: 20px;
    }

    .social {
      width: 110px;
      height: 37px;
      margin: 30px auto 0;
      text-align: center;
    }
  }
}
//============ footer end ===========
