// Table of contents

//=== popup-1
//=== popup-2

//============ popup-1 start =========
.popup-1 {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  background:rgba(0,0,0,0.75);
}

.popup-container {
  max-width:800px;
  width:90%;
  max-height: 663px;
  height: 100%;
  background-color: #ffffff;
  box-shadow:0 2px 6px rgba(0,0,0,1);
  @include centerer;

  .popup-header {
    width: 100%;
    max-height: 231px;
    height: 100%;
    background: url("../img/popups/popup-banner.png");
  }

  .popup-content {
    max-width: 692px;
    width: 90%;
    max-height: 220px;
    margin: 70px 53px 0 55px;
    float: left;

    h1 {
      max-width: 436px;
      width: 100%;
      height: 36px;
      margin: 0 127px 0 129px;
      padding: 0;
      float: left;
      font-size: 48px;
      font-weight: 300;
      color: #494e68;
      //single line height !!!
      line-height: 34px;
      word-spacing: -3px;
      text-align: justify;
    }

    .popup-text-paragraph {
      max-width: 692px;
      width: 100%;
      height: 138px;
      margin: 46px 0 0 0;
      float: left;

      p {
        position: relative;
        top:-6px;
        max-height: 138px;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: #85919d;
        line-height: 30px;
        word-spacing: -1px;
        text-align: justify;
        -ms-text-align-last: center;
        text-align-last: center;
      }
    }
  }
}

.popup-footer {
  width: 100%;
  max-height: 95px;
  height: 100%;
  margin-top: 47px;
  float: left;

  .popup-footer-content {
    max-width: 558px;
    width: 100%;
    height: 26px;
    margin: 0 0 0 109px;
    float: left;

    a {
      float: right;
      font-size: 18px;
      font-weight: 400;
      color: #2954a5;
      line-height: 31px;
    }

    a:hover {
      text-decoration: none;
    }

    i {
      float: left;
    }

    .popup-footer-reviews {
      display: inline-block;
      width: 146px;
      height: 26px;
      margin-right: 84px;
      float: left;
    }

    .popup-footer-partnership {
      display: inline-block;
      width: 135px;
      height: 26px;
      margin-right: 84px;
      float: left;
    }

    .popup-footer-adverts {
      display: inline-block;
      width: 109px;
      height: 26px;
      float: left;
    }
  }
}

.popup-close {
  position:absolute;
  top:20px;
  right:20px;
  width:30px;
  height:30px;
  text-decoration:none;

  .popup-close-container{
    position: relative;
    width:30px;
    height:30px;
    text-align: center;

    span {
      width:30px;
      height:30px;
      display: block;
      opacity: 0.6;
      font-size:29px;
      line-height: 27px;
      color: #a2aab3;
      font-weight: 300;
      @include centerer;
    }
  }
}
//============ popup-1 end =========



//============ popup-2 start =========

.popup-2 {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  background:rgba(0,0,0,0.75);
}

.popup2-container {
  max-width: 800px;
  width: 90%;
  max-height: 375px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
  @include centerer;

  .popup2-content {
    max-width: 681px;
    width: 90%;
    max-height: 216px;
    margin: 89px 59px 0 60px;
    float: left;

    h1 {
      max-width: 436px;
      width: 100%;
      height: 36px;
      margin: 0 228px 0 226px;
      padding: 0;
      float: left;
      font-size: 48px;
      font-weight: 300;
      color: #494e68;
      //single line height !!!
      line-height: 34px;
      word-spacing: -3px;
      text-align: justify;
    }

    .popup2-text-paragraph {
      max-width: 681px;
      width: 100%;
      height: 48px;
      margin: 34px 0 0 0;
      float: left;

      p {
        position: relative;
        top:-6px;
        max-height: 48px;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: #85919d;
        line-height: 30px;
        word-spacing: -1px;
        text-align: justify;
        -ms-text-align-last: center;
        text-align-last: center;
      }
    }
  }
}
.popup-2-button {
  margin:26px 230px 0 230px;
  float: left;
}

.popup2-close {
  position:absolute;
  top:20px;
  right:20px;
  width:30px;
  height:30px;
  text-decoration:none;

  .popup2-close-container {
    position: relative;
    width:30px;
    height:30px;
    text-align: center;

    span {
      width:30px;
      height:30px;
      display: block;
      opacity: 0.6;
      font-size:29px;
      font-weight: 300;
      color: #a2aab3;
      line-height: 27px;
      @include centerer;
    }
  }
}

//============ popup-2 end =========