// Table of contents

//=== popup-learn
//=== popup-query

//============ popup-learn start =========
.popup-learn {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  background:rgba(0,0,0,0.75);
}

.popup-learn-container {
  max-width:800px;
  width:90%;
  max-height: 663px;
  height: 100%;
  background-color: #ffffff;
  box-shadow:0 2px 6px rgba(0,0,0,1);
  @include centerer;

  .popup-learn-header {
    width: 100%;
    max-height: 231px;
    height: 100%;
    background: url("../img/popups/popup-banner.png");
  }

  .popup-learn-content {
    max-width: 692px;
    width: 90%;
    max-height: 220px;
    margin: 70px 53px 0 55px;
    float: left;

    h1 {
      width: 100%;
      height: 36px;
      margin: 0 auto;
      padding: 0;
      float: left;
      font-size: 48px;
      font-weight: 300;
      color: #494e68;
      //single line height !!!
      line-height: 34px;
      text-align: center;
    }

    .popup-learn-text-paragraph {
      max-width: 690px;
      width: 100%;
      height: 138px;
      margin: 46px 0 0 0;
      float: left;

      p {
        position: relative;
        max-width: 690px;
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: #85919d;
        line-height: 30px;
        text-align: justify;
        -ms-text-align-last: center;
        text-align-last: center;
        text-indent: 10px;
      }
    }
  }
}

.popup-learn-footer {
  width: 100%;
  max-height: 95px;
  height: 100%;
  margin-top: 47px;
  float: left;

  .popup-learn-footer-content {
    max-width: 558px;
    width: 100%;
    height: 26px;
    margin: 0 0 0 109px;
    float: left;

    a {
      float: right;
      font-size: 18px;
      font-weight: 400;
      color: #2954a5;
      line-height: 31px;
    }

    a:hover {
      text-decoration: none;
    }

    i {
      float: left;
    }

    .popup-learn-footer-reviews {
      display: inline-block;
      width: 146px;
      height: 26px;
      margin-right: 84px;
      float: left;
    }

    .popup-learn-footer-partnership {
      display: inline-block;
      width: 135px;
      height: 26px;
      margin-right: 84px;
      float: left;
    }

    .popup-learn-footer-adverts {
      display: inline-block;
      width: 109px;
      height: 26px;
      float: left;
    }
  }
}

//============ popup-learn end =========



//============ popup-query start =========

.popup-query {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  background:rgba(0,0,0,0.75);
}

.popup-query-container {
  max-width: 800px;
  width: 90%;
  max-height: 375px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
  @include centerer;

  .popup-query-content {
    max-width: 700px;
    width: 90%;
    max-height: 216px;
    margin: 89px 40px 0 60px;
    float: left;

    h1 {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      font-size: 48px;
      font-weight: 300;
      color: #494e68;
      //single line height !!!
      line-height: 34px;
      text-align: center;
    }

    p {
      max-width: 700px;
      margin: 34px 0 0 0;
      padding: 0;
      font-size: 18px;
      font-weight: 400;
      color: #85919d;
      line-height: 30px;
      text-align: center;
      -ms-text-align-last: center;
      text-align-last: center;
    }
  }
}

.popup-query-button {
  margin:26px 230px;
}

.popup-close {
  position:absolute;
  top:20px;
  right:20px;
  width:30px;
  height:30px;
  text-decoration:none;
}
//============ popup-query end =========