// Table of contents

//=== footer-sprites
//=== about-sprites
//=== popup-sprites


//============ footer-sprites start =========

.sprite {
  display: inline-block;
  background-image: url("../img/sprites/spritesheet.png");
  background-repeat: no-repeat;
}

.sprite-facebook {
  width: 34px;
  height: 32px;
  background-position: -6px -48px;

  &:hover {
    width: 34px;
    height: 32px;
    background-position: -52px -48px;
  }
}

.sprite-google {
  width: 33px;
  height: 32px;
  background-position: -98px -48px;

  &:hover {
    width: 33px;
    height: 32px;
    background-position: -6px -92px;
  }
}

.sprite-linkedin {
  width: 33px;
  height: 32px;
  background-position: -51px -92px;

  &:hover {
    width: 33px;
    height: 32px;
    background-position: -96px -92px;
  }
}
//============ footer-sprites end =========



//============ about-sprites start =========
.about-sprites {
  display: block;
  background-image: url("../img/sprites/spritesheet.png");
  background-repeat: no-repeat;
  @include centerer;
}

.sprite-philosophy {
  width: 42px;
  height: 42px;
  background-position: -159px -6px;
}

.sprite-social {
  width: 39px;
  height: 41px;
  background-position: -141px -97px;
}

.sprite-work {
  width: 34px;
  height: 32px;
  background-position: -6px -150px;
}

//============ about-sprites end=========


//============ popup-sprites start =========
.popup-sprites {
  display: block;
  background-image: url("../img/sprites/spritesheet.png");
  background-repeat: no-repeat;
}

.sprite-adverts {
  width: 25px;
  height: 25px;
  background-position: -6px -6px;
}

.sprite-partners {
  width: 20px;
  height: 26px;
  background-position: -127px -6px;
}

.sprite-reviews {
  width: 27px;
  height: 25px;
  background-position: -143px -60px;
}

.sprite-close {
  width: 30px;
  height: 30px;
  background-position: -43px -6px;

  &:hover {
    width: 30px;
    height: 30px;
    background-position: -85px -6px;
  }
}
//============ popup-sprites end =========